@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-bricolage: "Bricolage Grotesque", sans-serif;
    --color-primary: #96000B
}

body {
    font-family: var(--font-bricolage);
}